<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a96653.LetsCode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
      
        <activity android:name=".secondlevel_5" />
        <activity
            android:name=".MainActivity_Loading"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_1"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".welcome_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".firstlevel_resultsheet"
            android:screenOrientation="landscape" />
        <activity
            android:name=".feedback3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".secondlevel_21"
            android:screenOrientation="landscape" />
    </application>


</manifest>